@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 1;
    padding: 1;
}

body{
    color:#FF97D0;
    font-family: "Lora", serif;
    background-color: #428475;

}

.cabeçalho{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
}
.cartao{
    width: 260px;
    height: 200px;
    font-size: 30%;
}
.cartao img{
    width: 150%;
}